/* main container */
.Main_container {
   align-items: center;
  /* background-color: #f0f0f0; */
  padding: 20px; 
}

/* Todo list form component */
.Todo_list_form_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #cccccc;
  margin-bottom: 10em;
}

.Todo_list_form_container input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: large;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #cccccc;
  margin-right: 10px;
}

.Todo_list_form_container button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: large;
  border: none;
  cursor: pointer;
}

/* Todo list item container */
.Todo_item_container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  border-radius: 5px;
}

.Todo_text {
  flex-grow: 1;
  margin-right: 10px;
}

.Todo_update_icon {
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.Todo_remove_icon {
  cursor: pointer;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

