/* Weather_app_main*/
.main_container {
    background-image: url("../../icons/sky_image.jpg");
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}

/* Weather_app_data */
.big_data {
    color: white;
    display: grid;
    grid-template-rows: 0.3fr 1fr 0.1fr;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-areas:
        "item1 item1 item1"
        "item2 item3 item4"
        "item5 item5 item5";
}

.b_item1 {
    grid-area: item1;
    text-align: center;
    /* font-size: 30px; */
    font-size: xx-large;
}

.b_item2 {
    grid-area: item2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.b_item3 {
    grid-area: item3;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.b_item4 {
    grid-area: item4;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}

.b_item5 {
    grid-area: item5;
    text-align: center;
    font-size: x-large;
}

.small_data {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-areas:
        "s_item1 s_item1 s_item1"
        "s_item2 s_item3 s_item4"
        "s_item5 . s_item6";
        column-gap: 1px;
        row-gap: 1px;
}

.s_item1 {
    grid-area: s_item1;
    text-align: center;
    font-size: smaller;
}

.s_item2 {
    grid-area: s_item2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: small;

}

.s_item3 {
    grid-area: s_item3;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: small;
    align-items: flex-start;
}

.s_item4 {
    grid-area: s_item4;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    font-size: small;
}

.s_item5 {
    grid-area: s_item5;
    display: flex;
    justify-content: flex-end;
    font-size: small;
    text-align: center;
}

.s_item6 {
    grid-area: s_item6;
    display: flex;
    justify-content: flex-start;
    font-size: small;
    text-align: center;
}

/* Weather_app_location_form */
.Weather_form {
    color: red;
}


/* Weather icon */
.icon {
    height: 5em;
    width: 5em;

}